<div>

  <button mat-button color="primary" (click)="run(selectedNode)"><h5>Run algorithm</h5></button>

  <br>

  <mat-form-field>
    <mat-select placeholder="Select node" [(value)]=selectedNode>
      <mat-option *ngFor="let node of currentGraph.nodes" value="{{node.id + 1}}">
        {{ node.id + 1 }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="result">
    <ul class="demo-list-item mdl-list">
      <li class="mdl-list__item" *ngFor="let element of algorithmResult">
        {{element}}
      </li>
    </ul>
  </div>
</div>
