<mat-tab-group>

  <mat-tab label="Matrix">
    <app-adjacency-matrix-creator (graphEvent)="onCreatedMatrix($event)"></app-adjacency-matrix-creator>
  </mat-tab>

  <mat-tab label="Graph">
    <app-adjacency-matrix (isCreatedGraph)="checkGraph($event)" [graph]="graph"></app-adjacency-matrix>
  </mat-tab>

  <mat-tab *ngIf="isCreatedGraph" label="Hamilton algorithm">
    <app-hamilton [currentGraph]="graph"></app-hamilton>
  </mat-tab>

  <mat-tab *ngIf="isCreatedGraph" label="Eulerian algorithm">
    <app-eulerian></app-eulerian>
  </mat-tab>

  <mat-tab *ngIf="isCreatedGraph" label="DFS">
    <app-dfs></app-dfs>
  </mat-tab>

  <mat-tab *ngIf="isCreatedGraph" label="Critical links">
    <app-critical-links></app-critical-links>
  </mat-tab>

</mat-tab-group>
