<mat-tab-group>

  <mat-tab label="Adjacency matrix">
    <button mat-button color="primary" (click)="createAdjacencyMatrix()"><h5>Generate</h5></button>
    <div class="Matrix">
    <table *ngIf="type==='adjacency_matrix'" class="mdl-data-table mdl-js-data-table">
      <td class="mdl-data-table__cell--non-numeric"></td>
      <td class="mdl-data-table__cell--non-numeric" *ngFor="let i of nodes; let node = index">
        <button mat-button disabled>
          <button
            class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect  mdl-button--mini-fab mdl-button--colored"
            disabled>
            {{node + 1}}
          </button>
        </button>
      </td>
      <tr class="mdl-data-table__cell--non-numeric" *ngFor="let i of matrix; let vertex = index">
        <td class="mdl-data-table__cell--non-numeric">
          <button
            class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect  mdl-button--mini-fab mdl-button--colored"
            disabled>
            {{vertex + 1}}
          </button>
        </td>
        <td class="mdl-data-table__cell--non-numeric" *ngFor="let j of i; let elementValue = index">
          <button mat-button>
            {{j}}
          </button>
        </td>
      </tr>
    </table>
    </div>
  </mat-tab>

  <mat-tab label="Incidence matrix">
    <button mat-button color="primary" (click)="createIncidenceMatrix()"><h5>Generate</h5></button>
    <div class="Matrix">
    <table *ngIf="type==='incidence_matrix'" class="mdl-data-table mdl-js-data-table">
      <td class="mdl-data-table__cell--non-numeric"></td>
      <td class="mdl-data-table__cell--non-numeric" *ngFor="let i of links; let node = index">
        <button mat-button disabled>
          <button
            class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect  mdl-button--mini-fab mdl-button--colored"
            disabled>
            {{node + 1}}
          </button>
        </button>
      </td>
      <tr class="mdl-data-table__cell--non-numeric" *ngFor="let i of matrix; let vertex = index">
        <td class="mdl-data-table__cell--non-numeric">
          <button
            class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect  mdl-button--mini-fab mdl-button--colored"
            disabled>
            {{vertex + 1}}
          </button>
        </td>
        <td class="mdl-data-table__cell--non-numeric" *ngFor="let j of i; let elementValue = index">
          <button mat-button>
            {{j}}
          </button>
        </td>
      </tr>
    </table>
    </div>
  </mat-tab>

  <mat-tab label="Adjacency list">
    <button mat-button color="primary" (click)="createAdjacencylist()"><h5>Generate</h5></button>
    <div *ngIf="type==='adjacency_list'" class="Matrix">
      <div class="table-responsive">
        <div *ngFor="let element of listText; let index = index">
          <form action="#">
            {{index + 1}}
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" value="{{element.toString()}}" id="sample">
              <label class="mdl-textfield__label" for="sample"></label>
              <span class="mdl-textfield__error">Input is not a adjacency list</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-tab>

</mat-tab-group>
