<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">

    <div class="mdl-layout__header-row">
      <!-- Header Title -->
      <span class="mdl-layout-title">Grafy i sieci w informatyce</span>
    </div>
  </header>

  <div class="mdl-layout__drawer mdl-js-ripple-effect">
    <span class="mdl-layout-title">MENU</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Formularz</a>
      <a class="mdl-navigation__link" [routerLink]="['/app-adjacency-matrix-page']" href="">Macierz sąsiedztwa</a>
      <a class="mdl-navigation__link" [routerLink]="['/app-incidence-matrix-page']" href="">Macierz incydencji</a>
      <a class="mdl-navigation__link" [routerLink]="['/app-adjacency-list-page']" href="">Lista sąsiedztwa</a>
      <a class="mdl-navigation__link" [routerLink]="['/app-graph-converter-page']" href="">Konwertowanie grafu</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>

  </main>
</div>


